<h1 class="text-secondary fw-bold">Drinks info</h1>
<% if total_drinks.zero? %>
  <p class="fs-2 fw-bold">You curretnly don't have any drink to offer </p>
<% end %>
<% if total_drinks.positive? && total_drinks == 1 %>
  <p class="fs-2 fw-bold">You have 1 drink to offer! </p>
<% end %>
<% if total_drinks.positive? && total_drinks > 1%>
  <p class="fs-2 fw-bold">You are offering currently <%= "#{total_drinks}" %> different drinks! </p>
<% end %>
