<div class="row">
  <%= render 'options' %>
  <div class="col-10">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-dark fw-bold ms-4 mt-4">Welcome <%= current_user.fullname %></h1>
        <hr class="border border-primary border-3 opacity-75 ">
      </div>
    </div>
    <div class="row mt-4 ps-5">
        <div class="col">
            <h1 class="text-secondary fw-bold">Users info</h1>
            <p class="fs-2 fw-bold">There are 1,000 users in the platform!</p>
        </div>
    </div>
    <div class="row my-3 ps-5">
        <div class="col">
            <h1 class="text-secondary fw-bold">Drinks info</h1>
            <p class="fs-2 fw-bold">You are offering currently 50 different drinks! </p>
        </div>
    </div>
    <div class="row my-3 ps-5">
        <div class="col">
            <h1 class="text-secondary fw-bold">Snacks info</h1>
            <p class="fs-2 fw-bold">You are offering currently 6 different Snacks!</p>
        </div>
    </div>
    <div class="row my-3 ps-5">
        <div class="col">
            <h1 class="text-secondary fw-bold">Promos info</h1>
            <p class="fs-2 fw-bold">You have 10 different Promotions to offer!</p>
        </div>
    </div>
  </div>
</div>
